@charset "UTF-8";



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 796px) and (max-width: 992px) {
    section#login{
        width: 80vw;
        height: 300px;
    }
    
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }

    div#formulario > h1{
        font-size: 1.4em;
    }

    div#formulario > p{
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    section#login{
        width: 950px;
        height: 400px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 1.8em;
    }

    div#formulario > p{
        font-size: 1.2em;
    }
}

