@charset "UTF-8";

/*
Tabela de cores:

#EDCCE9
#CFD0E5
#007DAA
#04B2D9
#04C4D9

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-image:  linear-gradient(-45deg, #EDCCE9, #CFD0E5, #04B2D9) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: relative;;
    width: 100vw;
    height: 100vh;
}

section#login{
    top: 50%;
    left: 50%;
    background-color: white;
    position: absolute;
    width: 250px;
    height: 525px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: black url('../imagens/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 9px;
}

label{
    font-size: 0.8em;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #CFD0E5;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0px;
    padding-top: 4px;
}

form > div.campo > span{
    font-size: 2em;
    vertical-align: middle; 
}

form label{
    display: none;
}

input#login{
    border: 0.2px rgba(0, 0, 0, 0.4) solid;
    border-radius: 10px;
    padding: 3px;
    width: 80%;
}

input#senha{
    border: 1px rgba(0, 0, 0, 0.4) solid;
    border-radius: 10px;
    padding: 3px;
    width: 80%;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #04C4D9;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #0396A6;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #8DDBE3;
    border: 1px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    color: #3A5B5E;
    padding-top: 10px;
    margin-top: 10px;
}

form > a.botao:hover{
    background-color: #47D0DF;
}

form > a.botao > span{
    font-size: 1em;
    vertical-align: middle;
}